name: Continuous Integration with GitHub Actions

on:
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Login to DockerHub
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'adopt'
        cache: maven
        
    - name: Build Application Jar
      working-directory: ./
      run: mvn clean package
      
    - name: Docker Compose Build
      working-directory: ./
      run: docker compose build
    
    - name: Push to DockerHub
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/attornatus-assessment:latest ${{ secrets.DOCKER_USERNAME }}/attornatus-assessment:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/attornatus-assessment:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/attornatus-assessment:latest
    
    
    
    
